*{
    margin: 0;
    box-sizing: border-box;
}
.mainsection{
    padding-top:1vh;
    color: white;
    height: 100vh;
    background: linear-gradient(45deg , rgb(0, 0, 0),rgba(0, 0, 0, 0.767),rgba(15, 14, 14, 0.682));
}
.spline{
    position: fixed;
    z-index: 1;
}
.shadow{
    z-index: -1;
    box-shadow: 10px 10px 300px rgb(46, 45, 45);
    height: 50vh;
    width: 30vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.767),purple,rgb(33, 61, 33)) ;
    position: fixed;
    top: 45%;
    left:80%;
    translate: -50% -50%;
    opacity: 50%;
    border-radius: 20%;

}
.hstyle{
    text-decoration: none ;
    color: white;
}
.smallDev{
    position: fixed;
    left: 81%; 
    top: 35%;
}
h1{
    position: fixed;
    z-index: 2;
    top: 5%;
    left: 50%;
    translate: -50%;
    text-shadow: 5px 5px 10px white;
}
.lightning-text {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  animation: lightning 2s infinite;
}
.corner{
    position: fixed; 
    top: 85%; left: 89%; 
    background: linear-gradient(45deg,black,rgba(0, 0, 0, 0.867),gray); 
    height: 30vh; 
    width: 20vw; 
    border-radius: 50%; 
    z-index: 999;
}
@keyframes lightning {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: none;  /* normal */
  }
  20%, 24%, 55% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #0ff,
      0 0 40px #0ff,
      0 0 50px #0ff,
      0 0 60px #0ff;
  }
}
.animat{
    animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
    0% {transform: translateY(0px) translateX(0px) }
    25% {transform: translateY(-5px) translateX(-2px)}
    50% {transform: translateY(-2px) translateX(2px)}
    75% {transform: translateY(5px) translateX(-3px)}
    100% {transform: translateY(0px) translateX(0px)}
}
@media screen and (max-width:780px){
    .smallDev{

    }
    .shadow{
        top: 70%;
        left: 50%;
    }
    .smallDev{
        top: 70%;
        left: 50%;
    }
    body{
        font-size: smaller;
    }
    .shadow{
        width: 50vw;
        height:30vh;
        top: 75%;
        left:48%;
    }
    .lightning-text{
        width: 80%;
    }
    .corner{
        top: 90%; 
        left: 58%; 
        border-radius:0%;
        height: 10vh;
        width: 45vw;
    }
    }
